@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="color: white; font-weight: 700;">@ViewData["Title"]</h1>

<p style="color: white;  font-weight: 700;"">Use this page to detail your site's privacy policy.</p>
<!DOCTYPE html>
<html>
<head>
    <body>
        
    <style>
        
    body {
            background-color: #f8f9fa; /* светло-серый фон */
            color: #333; /* темный текст */
            font-family: Arial, sans-serif; /* шрифт */
             background-image: url('@Url.Content("~/images/backround.jpg")'); /* фоновое изображение */
              background-size: cover; /* растянуть изображение на всю высоту блока */
              background-position: center;
              padding: 2rem;
                 border-radius: 0; /* без скругления углов */
        }

         
        </style> 
          <footer style="margin-top: 60vh;background-color: rgb(142, 144, 145);">
            <p style="font-size: large;">&copy; 2024 SABR Bank</p>
        </footer>
        </body>
        </html>
</head>